<table>
  <tr>
    <th>Poster</th>
    <th>Title</th>
    <th>Genres</th>
    <th>Stars</th>
    <% unless @page_tab == "suggest" %>
      <th>Action</th>
    <% end %>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><img src="<%= movie.image %>" alt="No poster found." class="card-img-top"></td>
      <td><%= movie.title %></td>
      <td><%= fetch_name(movie.genres) %></td>
      <td><%= fetch_name(movie.stars) %></td>
      <% unless @page_tab == "suggest" %>
        <td>
          <div id="Movie-<%= movie.id %>">
            <%= render :partial => "movies/buttons", locals: { object: movie, type: "Movie" } %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
